[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "rusquant"]
	path = rusquant
	url = https://github.com/arbuzovv/rusquant
	shallow = true
	registered = true
[submodule "tcsinvest"]
	path = tcsinvest
	url = https://github.com/arbuzovv/tcsinvest
	shallow = true
	registered = true
